{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
	  <title>Follow My Artist</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	  
	  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	  
	  <link rel="stylesheet" type="text/css" href="{% static 'fma/css/style.css' %}" />
  	
	
  <style>
  
  </style>
</head>
<body>

<form method="post" id="id_alert-form" class="alert-form">{% csrf_token %}
	
</form>

<button id="id_btn_add-alert" type="button" class="btn btn-primary btn-lg">Add</button>

<script>
$(document).ready(function(){
  
	$("#id_alert-form").on('submit', function(event){
	    event.preventDefault();
	    console.log("form submit prevented! Going ajax...");  
	    if (allowSubmit){
			allowSubmit = false;
			sendData();
		}
	});
	
	$( "#id_btn_add-alert" ).click(function(){
		allowSubmit = true;
		$("#id_alert-form").submit();
	});
	
});

var allowSubmit = false;

var csrftoken = $("input[name=csrfmiddlewaretoken]").val();

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
           xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
});

function sendData(){
	$.ajax({
	        url: '/add_alert/',
	        type: 'POST',
	        data: $("#id_alert-form").serialize(),
	        cache: false,
	        success: function(data, textStatus, jqXHR)
	        {
	        	
	            if(typeof data.error === 'undefined')
	            {
	                // responded successfully. check response..
	                //alert('success???');
	                 
	                // if (data.is_valid){
	                	// $("#file_details").text(data.pages);
	                // }
	                // else{
	                	// $("#validate_result").text(data.status);
	                // }
	            }
	            else
	            {
	                // Handle errors 
	                console.log('ERRORS: ' + data.error);
	                //$("#validate_result").text(data.error);
	                alert(data.error);
	            }
	        },
	        error: function(xhr, textStatus, errorThrown)
	        {
	            // Handle errors 
	            console.log('ERRORS: ' + xhr.responseText + ' - ' + errorThrown);
	            alert('REAL error!');
	        }
	    });
}

</script>

</body>
</html>
