{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
	  <title>Follow My Artist</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	  
	  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	  
	  <link rel="stylesheet" type="text/css" href="{% static 'fma/css/style.css' %}" />
  	
	
  <style>
  .jumbotron {
      background-color: #f4511e;
      color: #fff;
      padding: 100px 25px;
  }
  .container-fluid {
      padding: 30px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  
  
  .carousel-control.right, .carousel-control.left {
	    background-image: none;
	    color: #f4511e;
	}
	
	.carousel-indicators li {
	    border-color: #f4511e;
	}
	
	.carousel-indicators li.active {
	    background-color: #f4511e;
	}
	
	.item h4 {
	    font-size: 19px;
	    line-height: 1.375em;
	    font-weight: 400;
	    font-style: italic;
	    margin: 70px 0;
	}
	
	.item span {
	    font-style: normal;
	}
	
	.slideanim {visibility:hidden;}
	.slide {
	    /* The name of the animation */
	    animation-name: slide;
	    -webkit-animation-name: slide; 
	    /* The duration of the animation */
	    animation-duration: 1s; 
	    -webkit-animation-duration: 1s;
	    /* Make the element visible */
	    visibility: visible; 
	}
	
	/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
	@keyframes slide {
	    0% {
	        opacity: 0;
	    	-webkit-transform: translateY(70%);
	    } 
	    100% {
	        opacity: 1;
	        -webkit-transform: translateY(0%);
	    } 
	}
	@-webkit-keyframes slide {
	    0% {
	        opacity: 0;
	        -webkit-transform: translateY(70%);
	    } 
	    100% {
	        opacity: 1;
	        -webkit-transform: translateY(0%);
	    }
	}
	
	
	
	.artist{
		margin-left: 150px;
	}
	
	.alert-form{
		padding: 0px;
	}
	
	.form-row{
		padding: 20px 60px;
	}
  </style>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Demo site</h1> 
  <p>Get notified when the artist you love comes near by</p> 
</div>

<div>
 <h1>Third-party authentication demo</h1>

 <p><ul>
 	<li><a href="/admin/">Admin</a>  </li>
   {% if user and not user.is_anonymous %}
   <li>
     Hello {{ user.get_full_name }}!
   <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
     </li>
   {% else %}
     <li>
       <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
     </li>
   {% endif %}
   </ul>
 </p>
 </div>

<div class="container-fluid">
	<div class="form-inline artist">
		<h2>Find Your Artist</h2>
		<input type="text" id="artist" class="form-control" size="30" placeholder="Artist Name"/>
		<button class="btn btn-info ">Check</button>
	</div>
	
	<div class="row">
		<a href="{% url 'user_main' %}">User Main Page</a>
	</div>
  
</div>

<form method="post" id="id_alert-form" class="alert-form">{% csrf_token %}

<div class="container-fluid bg-grey">
		<div class="row" >
			<div class="col-sm-6">
				<div class="row form-row">
					<div class="col-sm-12">
						{{ form_location.place }}
						{{ form_location.lat }}{{ form_location.lng }}
					</div>
				</div>
				<div class="row form-row">
					<div class="col-sm-6">
						<div class="control-group">
							<div class="controls">
							{{ form_alert.alert_type.label_tag }}
							{{ form_alert.alert_type }}
						</div>
						</div>
					</div>
					
					<div class="col-sm-4">
								<div id="slider"></div>
					</div>
					<div class="col-sm-2">
						{{ form_alert.distance }}
					</div>
				</div>
				<div class="row form-row">
					<div class="col-sm-12">
						<button id="id_btn_add-alert" type="button" class="btn btn-primary btn-lg">Add</button>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div id="map" style="height: 400px;"></div>
			</div>
		</div>
</div>


</form>

<div class="container-fluid">
	
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4 slideanim">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2>
      <h4><strong>MISSION:</strong> Our mission lorem ipsum..</h4>      
      <p><strong>VISION:</strong> Our vision Lorem ipsum..</p>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>POWER</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>LOVE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>JOB DONE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>GREEN</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>CERTIFIED</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">HARD WORK</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="container-fluid text-center bg-grey">
  <h2>Portfolio</h2><br>
  <h4>What we have created</h4>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="paris.jpg" alt="Paris" width="400" height="300">
        <p><strong>Paris</strong></p>
        <p>Yes, we built Paris</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="newyork.jpg" alt="New York" width="400" height="300">
        <p><strong>New York</strong></p>
        <p>We built New York</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="sanfran.jpg" alt="San Francisco" width="400" height="300">
        <p><strong>San Francisco</strong></p>
        <p>Yes, San Fran is ours</p>
      </div>
    </div>
  </div>

  <h2>What our customers say</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"This company is the best. I am so happy with the result!"<br><span style="font-style:normal;">Michael Roe, Vice President, Comment Box</span></h4>
      </div>
      <div class="item">
        <h4>"One word... WOW!!"<br><span style="font-style:normal;">John Doe, Salesman, Rep Inc</span></h4>
      </div>
      <div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span style="font-style:normal;">Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<script>
$(document).ready(function(){
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
  
	$("#id_alert-form").on('submit', function(event){
	    event.preventDefault();
	    console.log("form submit prevented! Going ajax...");  
	    if (allowSubmit){
			allowSubmit = false;
			sendData();
		}
	});
	
	$( "#id_btn_add-alert" ).click(function(){
		allowSubmit = true;
		$("#id_alert-form").submit();
	});
	
});

var allowSubmit = false;

var csrftoken = $("input[name=csrfmiddlewaretoken]").val();

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
           xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
});

function sendData(){
	$("#id_lat").val(marker.getPosition().lat);
	$("#id_lng").val(marker.getPosition().lng);
	$.ajax({
	        url: '/add_alert/',
	        type: 'POST',
	        data: $("#id_alert-form").serialize(),
	        cache: false,
	        success: function(data, textStatus, jqXHR)
	        {
	        	
	            if(typeof data.error === 'undefined')
	            {
	                // responded successfully. check response..
	                //alert('success???');
	                 
	                // if (data.is_valid){
	                	// $("#file_details").text(data.pages);
	                // }
	                // else{
	                	// $("#validate_result").text(data.status);
	                // }
	            }
	            else
	            {
	                // Handle errors 
	                console.log('ERRORS: ' + data.error);
	                //$("#validate_result").text(data.error);
	                alert(data.error);
	            }
	        },
	        error: function(xhr, textStatus, errorThrown)
	        {
	            // Handle errors 
	            console.log('ERRORS: ' + xhr.responseText + ' - ' + errorThrown);
	            alert('REAL error!');
	        }
	    });
}

/*
 Zooms:
 5: Landmass/continent
10: City
15: Streets
 * */
var map;
var marker;
var updating = false;

// Adds a marker to the map.
function addMarker(location) {
  // Add the marker at the clicked location, and add the next-available label
  // from the array of alphabetical characters.
  var new_marker = new google.maps.Marker({
    position: location,
    //label: labels[labelIndex++ % labels.length],
    map: map
  });
  return new_marker;
}

function createMarker(place) {
  var placeLoc = place.geometry.location;
  var marker = new google.maps.Marker({
    map: map,
    position: place.geometry.location
  });

  google.maps.event.addListener(marker, 'click', function() {
  	alert(place.name);
    infowindow.setContent(place.name);
    infowindow.open(map, this);
  });
}

function callbackFromPlacesService(results, status) {
  if (status == google.maps.places.PlacesServiceStatus.OK) {
    for (var i = 0; i < results.length; i++) {
      //var place = results[i];
      createMarker(results[i]);
    }
  }
}

function initMap() {
	var myLatLng = {lat: -34.397, lng: 150.644};
	map = new google.maps.Map(document.getElementById('map'), {
	    center: myLatLng,
	    disableDoubleClickZoom: true,
	    zoom: 8
	});
	
	marker = new google.maps.Marker({
	    position: myLatLng,
	    draggable: true,
	    animation: google.maps.Animation.DROP,
	    map: map
	});
  
  	// alternatively:
	// marker.setMap(map);
	
	service = new google.maps.places.PlacesService(map);
  	
	
	google.maps.event.addListener(map, 'dblclick', function(event) {
	    marker.setPosition(event.latLng, map);
	    
	    $(search_input).val("").attr("placeholder", "(Custom location)");
	    
	    // var request = {
		    // location: event.latLng,
		    // radius: '500',
		    // types: []
		  // };
// 	    
	    // service.nearbySearch(request, callbackFromPlacesService);
	  });
	
	
	var search_input = document.getElementById("id_place");
	$(search_input).attr("placeholder", "Search for address or place");
	
	var autocomplete = new google.maps.places.Autocomplete(search_input, {types: ['geocode']});
	autocomplete.bindTo('bounds', map);
	
	google.maps.event.addListener(autocomplete, 'place_changed', function() {
		var place = autocomplete.getPlace();
		// If the place has a geometry, then present it on a map.
	    if (place.geometry.viewport) {
	      	map.fitBounds(place.geometry.viewport);
	    } else {
	      	map.setCenter(place.geometry.location);
	      	map.setZoom(17);  // Why 17? Because it looks good.
	    }
	    
	    marker.setPosition(place.geometry.location);
	    
	    $(search_input).attr("placeholder", "Search for address or place");
	});
	
	radius_input = $("#id_distance");
	
	// Add circle overlay and bind to marker
	var circle = new google.maps.Circle({
	  map: map,
	  radius: $(radius_input).val(),    
	  strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 1,
      fillColor: '#FF0000',
      fillOpacity: 0.35,
	});
	circle.bindTo('center', marker, 'position');
	

	$( "#slider" ).slider({
      min: 10,
      max: 200000,
      value: $(radius_input).val(),
      slide: function( event, ui ) {
        circle.setRadius( ui.value );
        
    	updating = true;
    	$(radius_input).val(ui.value);
    	updating = false;
      } ,
      change: function( event, ui ) {
		circle.setRadius( ui.value );
      }
	});
	
    $(radius_input).change(function(){
    	if (!updating){
    		$( "#slider" ).slider("value", $(this).val());
    	}
    });
    
    circle.setRadius( $( "#slider" ).slider("value") );
    
    
 }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_KEY }}&libraries=places&callback=initMap"></script>
</body>
</html>
